# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules

# Local environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

# Temporary files
*.suo
*.njsproj
*.sln
*.sw?

# Build files (if using TypeScript or bundlers)
dist
